
<% action = cat.persisted? ? cat_url(cat) : cats_url %>
<% method = cat.persisted? ? :patch : :post %>


<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label>Name:
    <input type="text" name="cat[name]" value="<%= cat.name %>">
  </label>
  <br>

  <label for="birth-date">Birth Date:</label>
  <input id="birth-date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">
  <br>

  <label>Color:
    <select name="cat[color]">
      <option disabled selected>--Select a Color--</option>
      <% Cat::COLORS.each do |color| %>
        <option <%= cat.color == color ? "selected" : "" %>
        value="<%= color %>">
        <%= color.upcase %>
        </option>
      <% end %>
    </select>
  </label>
  <br>

  <label>Sex:
    <input type="radio" name="cat[sex]" value="M" id="male" <%= cat.sex == 'M' ? "checked" : "" %>>
    <label for="male">Male</label>
    <input type="radio" name="cat[sex]" value="F" id="female" <%= cat.sex == 'F' ? "checked" : "" %>>
    <label for="female">Female</label>
  </label>
  <br>

  <label>Description:
  <br>
    <textarea name="cat[description]"><%= cat.description %></textarea>
  </label>
  <br>

  <input type="submit" value="Save Changes">

</form>